*
{
margin: 25px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
background-color: rgb(230, 230, 164);
}
h1
{
padding: 15px;
border: 10px;
border-style: dashed;
border-color: cadetblue;
text-align: center;
text-transform: capitalize;
text-decoration: underline;
color: rgb(46, 236, 58);
}
p
{
border-color: rgb(7, 143, 228);
border: 4px;
border-radius: 10px;
border-style: solid;
color:rgb(224, 71, 48);
text-align: justify;
}
img
{

width: 35%;
alt: calc();
}